# 📌 Folders to ignore
node_modules/
.env
config/*.env

# 📌 System files
.DS_Store
Thumbs.db

# 📌 Log-related files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 📌 IDE files (VS Code, etc.)
.vscode/
.idea/
*.iml
